<link rel="stylesheet" href="/Login.css" />

<div id="logo">
  <a href="/" style="color: black"
    ><img
      src="<%= '/images/eVote.png' %>"
      alt="logo"
      class="logo-img"
    /><span></span>
  </a>
</div>
<h3><%= data %></h3>
